.App{
  margin: 1rem;
}

.frame{
  border: 2px #000 solid;
  margin: 2rem;
  padding: 2rem;
  font-weight: bold;
}

.box{
  border: 2px #000 solid;
  margin: 2rem;
  height: 30rem;
}

.violet{
  background-color: #7E60BF;
}
.blue {
  background-color: #0487D9;
}
.yellow{
  background-color: #F29F05;
}
.red{
  background-color: #D92B04;
}
